<a href="https://colab.research.google.com/github/Sergey-97/homework-9/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('sample_data/california_housing_test.csv')

In [4]:
df.shape[0]

3000

In [5]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [6]:
df[df['median_income'] < 2]['median_house_value']

5        67000.0
6        67000.0
16      181300.0
28      350000.0
43       79300.0
          ...
2943     57200.0
2964     91300.0
2985    109400.0
2986     85400.0
2995    225000.0
Name: median_house_value, Length: 360, dtype: float64

In [8]:
df.iloc[2:5,0:2]

   longitude  latitude
2    -117.81     33.78
3    -118.36     33.82
4    -119.67     36.33

In [10]:
df[['longitude','latitude']].head(10)

   longitude  latitude
0    -122.05     37.37
1    -118.30     34.26
2    -117.81     33.78
3    -118.36     33.82
4    -119.67     36.33
5    -119.56     36.51
6    -121.43     38.63
7    -120.65     35.48
8    -122.84     38.40
9    -118.02     34.08

In [11]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

Задача 40: Работать с файлом california_housing_train.csv, который находится в папке sample_data. Определить среднюю стоимость дома, где кол-во людей от 0 до 500 (population).

In [12]:
df = pd.read_csv('sample_data/california_housing_train.csv')

In [18]:
# Фильтрация домов с числом жителей от 0 до 500
df = df[df['population'] <= 500]

# Вычисление средней стоимости дома
mean_price = df['median_house_value'].mean()

# Вывод результата
print('Средняя стоимость дома, где число жителей <= 500:', mean_price)

Средняя стоимость дома, где число жителей <= 500: 206799.95140186916

Задача 42: Узнать какая максимальная households в зоне минимального значения population

In [21]:
df[df['population'] == df['population'].min()]['households'].max()

4.0